// ================================ //
// ===== _VARIABLES =============== //
// ================================ //

$logoFont: 'Archer-Semibold-Pro';

$sans:'Avenir-Roman', sans-serif;
$sansItalic: 'Avenir-Oblique Italic', sans-serif;
$sansBold: 'Avenir-Heavy', sans-serif;
$sansBoldItalic: 'Avenir-HeavyOblique', sans-serif;

$sansLight: 'Avenir-Light', sans-serif;
$sansLightItalic: 'Avenir-Light-Oblique', sans-serif;
$sansSemibold: 'Avenir-Medium', sans-serif;
$sansSemiboldItalic: 'Avenir-MediumOblique', sans-serif;
$sansBlack: 'Avenir-Black', sans-serif;
$sansBlackItalic: 'Avenir-BlackOblique', sans-serif;

	// aliases for $sans //
	$primary-font: 'Avenir-Roman', sans-serif;
	$sansI: 'Avenir-Oblique', sans-serif;
	$sansB: 'Avenir-Heavy', sans-serif;
	$sans300: 'Avenir-Light', sans-serif;
	$sans300I: 'Avenir-LightOblique', sans-serif;
	$sans600: 'Avenir-Medium', sans-serif;
	$sans600I: 'Avenir-MediumOblique', sans-serif;
	$sans800: 'Avenir-Black', sans-serif;
	$sans800I: 'Avenir-BlackOblique', sans-serif;

$serif: 'Abril_Text_Regular', serif;
$serifItalic: 'Abril_Text_Italic', serif;
$serifBold: 'Abril_Text_Bold', serif;
$serifBoldItalic: 'Abril_Text_BoldItalic', serif;

	// aliases for $serif //
	$serifI: 'Abril_Text_Italic', serif;
	$serifB: 'Abril_Text_Bold', serif;
	$serifBI: 'Abril_Text_BoldItalic', serif;

$display: 'Brandon_reg', sans-serif;
$displayMedium: 'Brandon_med', sans-serif;
$displayItalic: 'Brandon_reg_it', sans-serif;
$displayBold: 'Brandon_bld', sans-serif;
$displayBoldItalic: 'Brandon_bld_it', sans-serif;

	// aliases for $display // 
	$displayI: 'Brandon_reg_it', sans-serif;
	$displayB: 'Brandon_bld', sans-serif;
	$displayBI: 'Brandon_bld_it', sans-serif;


$black: #212425;
$blue: #5ba4e5;
$deepBlue: #2f8cde;
$green: #9fbb58;
$yellow: #ffe600;
$beige: #e9e8dd;

$slate: #282d31;
$color-1: #282d31;
$neutral: #404041;
$color-2: #404041;

$blueish: #718087;
$greenish: #a6b4b6;
$whitish: #eceded;
$white: #ffffff;

$red: #e25440;
$orange: #F2A925;
$grey: #718087;
$midGrey: #7d878a;
$lightGrey: #e2edf2;

$brown: #aaa9a2;
$midBrown: #c0bfb6;
$lightBrown: #edece4;
$darkGrey: #242628;
$inputFocus: #226492;
$pinkButton: #D01040;
$purple: #333c4e;
$offWhite: #F3F4F8;
$color-3: #F3F4F8;


